.btn-sendInfo{
    background-color: var(--green);
    color: var(--black);
    border-radius: 12px;
    text-transform: none;
    font-weight: bold;
}

.word{
    background-color: var(--createclient);
    color: var(--black);
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
    align-content: center;
    justify-content: center;
    align-items: center;
}