.employee-role{
    background-color: var(--green);
    color: var(--black);
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.client-role{
    background-color: var(--createclient);
    color: var(--black);
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.word{
    background-color: var(--green);
    color: var(--black);
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.btn-createEmployee{
    background-color: var(--green);
    color: var(--black);
    border-radius: 12px;
    text-transform: none;
    width: "100px";
    margin-left: 8px;
}

.btn-createClient{
    background-color: var(--createclient);
    color: var(--black);
    border-radius: 12px;
    text-transform: none;
    width: "100px";
}